@import "../../styles/_variables.scss";

.button {
    background-color: $secondary-color;
    color: $primary-color;
    font-size: $font-size-20;
    height: 4.8rem;
    width: 11.9rem;
    border: none;
    border-radius: $radius-sm;
  }