$font-family: 'League Spartan', sans-serif;
$font-size-15: 1.5rem;
$font-size-20: 2rem;
$font-size-23: 2.3rem;

$primary-color: #603443;
$secondary-color: #fedf85;
$black: #3c3c3c;
$white: #ffffff;
$gray: #efefef;
$gray-dark: #c0c0c0;
$success: #56b06f;
$warning: #fedf85;
$error: #fd4a4a;

$radius-sm: 1rem;
$radius-lg: 2.5rem;
$spacing-sm: 1rem;
$spacing-md: 3.5rem;
